:root {
    --font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    color: #d0e9f0;
}

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: var(--font-size);
    line-height: calc(var(--font-size) * 1.3);

}

a {
    text-decoration: none;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    text-align: center;
    left: 50%;
    bottom: 15%;
    text-transform: uppercase;
    padding: 1%;
}


.board_start .about h2,
.board_start .photo .h2-photo,
.board_photography_left .logo,
#writting_next,
.board_cats_left h1,
.board_why_programming_start h1,
.board_why_programming_content_box1 h1::before,
.board_why_programming_content_box1 h1 {
    font-family: 'Bree Serif', serif;
    font-weight: 100;
}

/*style dla planszy board_start*/

.board {
    width: 100vw;
}

.board_start_screen {
    height: 100vh;
    position: relative;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.board_start_screen {
    background: url(img/elements/board_start_background_top_wersja2.png) left top no-repeat, url(img/elements/board_start_background_bottom.png) right bottom no-repeat, url(img/elements/board_start_background_center.jpg) left top repeat;
    padding: 15px;
    background-size: 230px, auto, auto;
}

.board_start {
    margin-top: 25px;
    align-items: flex-end;
    margin-right: 15%;
    color: #c3f1f2;
}

.board_start a {
    position: absolute;
    color: #c3f1f2;
    border-bottom: 1px dashed #c3f1f2;
    bottom: 5%;
}

.board_start .about {
    width: 65%;
}

.board_start .about h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 35px;
    letter-spacing: 3px;
    text-align: right;
    color: #fd3636;
}

.board_start .about p {
    margin-bottom: 25px;
    text-align: right;
    color: #468075;
}

.board_start .photo .h2-photo {
    font-size: 15px;
}

.board_start a:hover {
    color: #fd3636;
    border-bottom: 1px dashed #fd3636;
}

.board_start_screen,
.board_start,
.board_start .about {
    display: flex;
    flex-direction: column;
}

.board_start_screen,
.board_start {
    justify-content: center;
    align-content: center;
}

/*style dla planszy board_travel*/

.board_travel {
    position: relative;
}

.board_travel a {
    position: absolute;
    bottom: 5%;
    color: #c3f1f2;
    border-bottom: 1px dashed #c3f1f2;
}

.board_travel a:hover {
    color: #fd3636;
    border-bottom: 1px dashed #fd3636;
}

.board_travel_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0;
    justify-content: center;
    align-content: center;
    background-color: #bcc7c4;
}

.board_travel_gallery_photo {
    height: 25vw;
    width: 25vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
    transition: all 0.5s ease-out 0s;  
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.board_travel_gallery_photo:hover{
    filter: grayscale(100%);
}

.board_travel_gallery_photo:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ff0022;
    opacity: 0.6;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .board_travel_gallery_photo:hover, .board_travel_gallery_photo:focus, board_travel_gallery_photo:active {
    color: white;
  }
  .board_travel_gallery_photo:hover:before, .board_travel_gallery_photo:focus:before, .board_travel_gallery_photo:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }
.board_travel_gallery_photo .tekst {
    height: 100%;
    width: 100%;
    padding: 30%;
    padding-top: 70%;
    opacity: 0;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;}

.board_travel_gallery_photo .tekst:hover {
    opacity: 1;}

.board_travel_gallery_photo:nth-child(1) {
    background-image: url(img/travel/travel_photo1.jpg);
}

.board_travel_gallery_photo:nth-child(2) {
    background-image: url(img/travel/travel_photo2.jpg);
}

.board_travel_gallery_photo:nth-child(3) {
    background-image: url(img/travel/travel_photo3.jpg);
}

.board_travel_gallery_photo:nth-child(4) {
    background-image: url(img/travel/travel_photo4.jpg);
}

.board_travel_gallery_photo:nth-child(5) {
    background-image: url(img/travel/travel_photo5.jpg);
}

.board_travel_gallery_photo:nth-child(6) {
    background-image: url(img/travel/travel_photo6.jpg);
}

.board_travel_gallery_photo:nth-child(7) {
    background-image: url(img/travel/travel_photo7.jpg);
}

.board_travel_gallery_photo:nth-child(8) {
    background-image: url(img/travel/travel_photo8.jpg);
}

.board_travel_gallery_photo:nth-child(9) {
    background-image: url(img/travel/travel_photo9.jpg);
}

.board_travel_gallery_photo:nth-child(10) {
    background-image: url(img/travel/travel_photo10.jpg);
}

.board_travel_gallery_photo:nth-child(11) {
    background-image: url(img/travel/travel_photo11.jpg);
}

.board_travel_gallery_photo:nth-child(12) {
    background-image: url(img/travel/travel_photo12.jpg);
}


.board_travel a,
.board_travel_gallery_photo .tekst {
    text-align: center;
}

/*style dla planszy board_photography*/

.board_photography_screen {
    background-color: #b1b96c;
    position: relative;
    
}

.board_photography_screen a {
    position: absolute;
    bottom: 5%;
    color: #ddcd75;
    border-bottom: 1px dashed #ddcd75;
}

.board_photography_screen a:hover {
    color: #2d2f3e;
    border-bottom: 1px dashed #2d2f3e;
}

.board_photography_left .logo,
.logo_rwd {
    margin-bottom: 10px;    
    font-size: 25px;
    letter-spacing: 4px;
    color: #2d2f3e;
}

.logo_rwd{
    display: none;
}

.board_photography_left .image {
    overflow: hidden;
}

.board_photography_left .image img {
    width: 500px;
    height: 707px;
    transition: all 0.6s ease-in-out;
}

.board_photography_left .image:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.board_photography_right{
    background-color: #2d2f3e;
}


.board_photography_miniature_overlay {
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    width: 400px;
    height: 266px;  
}

.board_photography_miniature {
    background-image: url(img/photography/photography_photo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 266px;
    transition: all 0.5s ease-in-out;    
}

.board_photography_miniature:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    filter: blur(7px)
}

.board_photography_text{
    margin-left: 8%;
    margin-right: 8%;
}

.board_photography_text p {   
    margin-bottom: 5%;   
    font-size: 14px;
   /*color: #eadcdb;*/
   color: #f3eae9;
}


.board_photography,
.board_photography_left,
.board_photography_right {
    display: flex;
}

.board_photography_screen,
.board_photography {
    flex: 1;
    height: 100vh;
}

.board_photography_left,
.board_photography_right {
    flex: 1;
}


.board_photography_left,
.board_photography_right {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/*style dla planszy board_photography_second*/

.board_photography_second_screen {
    background-color: #000000;
    position: relative;
    width: 100vw;
}

.board_photography_second_screen a {
    position: absolute;
    bottom: 7%;
    left: 44%;
    color: #d4c2be;
    border-bottom: 1px dashed #d4c2be;
}

.board_photography_second_screen a:hover {
    color: #cd3636;
    border-bottom: 1px dashed #cd3636;
}

.board_photography_second_text {
    position: absolute;
    top: 10%;
    left: 8%;
    font-size: 16px;
    color: white;
    width: 20%;
}

.board_photography_second {
    display: flex;
    flex-direction: row;
    position: relative;
}

.board_photography_second_photo {
    height: 100vh;
    flex: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: opacity 0.6s ease-in-out;
    position: relative;
}

.board_photography_second_photo:hover {
    opacity: 0.5;
    filter: grayscale(100%);
}

.board_photography_second_photo:nth-child(1) {
    background-image: url(img/photography/secon_photography_photo1.jpg);
}

.board_photography_second_photo:nth-child(2) {
    background-image: url(img/photography/secon_photography_photo2.jpg);
}

.board_photography_second_photo:nth-child(3) {
    background-image: url(img/photography/secon_photography_photo3.jpg);
}

/*style dla planszy board_writting*/

.board_writting_screen {
    width: 100vw;
    background-color: #eeeeee;
    position: relative;
}

.board_writting_lead {
    writing-mode: tb-rl;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    white-space: nowrap;
    margin-left: 2%;
    color: #cd3636;
    font-size: 22px;
    letter-spacing: 4px;
}

#writting_next {   
    left: 50%;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    color: #cd3636;
    border-bottom: 1px dashed #cd3636;
}

#writting_next:hover {
    color: #e4dedd;
    border-bottom: 1px dashed #e4dedd;
}

.board_writting {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.board_writing_texts {
    display: flex;
}

.board_writting_text1,
.board_writting_text2,
.board_writting_text3 {
    flex: 1;
    font-size: 12px;
    color: black;
    text-align: left;
    padding: 25px;
}

.board_writting_rwd{
    display: flex;
    flex-direction: column;
}

.board_writting_header {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.board_writting_header:hover,
.board_writting_header:focus,
.board_writting_header:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.board_writting_header::after {
    content: "";
    display: block;
    border-bottom: 2px solid #cd3636;
    width: 25%;
    height: 2px;
}


.writting_photo_overlay1 img,
.writting_photo_overlay2 img,
.writting_photo_overlay3 img {
    text-align: center;
}

.writting_photo_overlay1 img,
.writting_photo_overlay2 img,
.writting_photo_overlay3 img,
.writting_photo_overlay1,
.writting_photo_overlay2,
.writting_photo_overlay3 {
    height: 233px;
}


.writting_photo_overlay1 img,
.writting_photo_overlay2 img,
.writting_photo_overlay3 img {
    width: 100%;
    object-fit: cover;
}

.writting_photo_overlay1,
.writting_photo_overlay2,
.writting_photo_overlay3 {
    position: relative;
}

.writting_link_overlay1,
.writting_link_overlay2,
.writting_link_overlay3 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    padding: 55px;
    left: 0px;
    top: 0px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #cd3636;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.writting_link_overlay1:hover,
.writting_link_overlay2:hover,
.writting_link_overlay3:hover {
    opacity: 0.5;
}



/*style dla planszy board cats*/

.the_entire_screen_cats {
    width: 100vw;
    background-color: #779e91;
    position: relative;
}

.the_entire_screen_cats a {
    position: absolute;
    bottom: 9%;
    left: 80%;
    color: #ff7e00;
    border-bottom: 1px dashed #ff8400;
}

.the_entire_screen_cats a:hover {
    color: #cfe7df;
    border-bottom: 1px dashed #cfe7df;
}

.board_cats {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.board_cats_left {
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 8%;
    background-color: #324a42;

}

.board_cats_left h1 {
    color: #ff8400;
    margin-right: 35px;
}

.board_cats_left p {
    color: #e2f2ea;
    margin-right: 5px; 
    border-left: 1px dashed #ff8400;
}

.board_cats_right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 0;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 5% 0 5% 5%;
}

.board_photo_cats {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 22.2vw;
    height: 22.2vw;
    transition: all 0.5s ease-in-out;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;  
} 


.board_photo_cats:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffcc41;
    opacity: 0.6;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.9s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .board_photo_cats:hover, .board_photo_cats:focus, board_photo_cats:active {
    color: white;
  }
  .board_photo_cats:hover:before, .board_photo_cats:focus:before, .board_photo_cats:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.board_photo_cats:nth-child(1) {
    background-image: url(img/cats/cats_photo1.jpg);
}

.board_photo_cats:nth-child(2) {
    background-image: url(img/cats/cats_photo2.jpg);
}

.board_photo_cats:nth-child(3) {
    background-image: url(img/cats/cats_photo3.jpg);
}

.board_photo_cats:nth-child(4) {
    background-image: url(img/cats/cats_photo4.jpg);
}

.board_photo_cats:nth-child(5) {
    background-image: url(img/cats/cats_photo5.jpg);
}

.board_photo_cats:nth-child(6) {
    background-image: url(img/cats/cats_photo6.jpg);
}

.board_photo_cats:nth-child(7) {
    background-image: url(img/cats/cats_photo7.jpg);
}

.board_photo_cats:nth-child(8) {
    background-image: url(img/cats/cats_photo8.jpg);
}

.board_photo_cats:nth-child(9) {
    background-image: url(img/cats/cats_photo9.jpg);
}

.cats_text_square p{
    text-align: center;
    padding: 20%;
    padding-top: 80%;
    color: rgb(0, 0, 0);
    opacity: 0;    
    font-weight: bold;  
}

.cats_text_square:hover p{    
    opacity: 1;
    transition: all 0.5s ease-in-out;       
}

/* style do planszy board_why_programming*/

/*.board_why_programming_screen {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #d0d3d4;
}

.board_why_programming_start {
    margin: 65px;
}

.board_why_programming_start p {
    color: black;
    text-indent: 50px;
}

.board_why_programming_start h1 {
    color: #fd3636;
    letter-spacing: 4px;
    border-bottom: 1px dashed #fd3636;
}

.board_why_programming_content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 45px;
    padding: 35px;
    background-color: #c6dae7;
}

.board_why_programming_content_box1 p {
    color: black;
    font-size: 14px;
    text-align: right;
}

.board_why_programming_content_box1 h1 {
    color: #1c3d66;
    font-size: 22px;
}

.board_why_programming_content_box1 h1::before {
    color: #fd3636;
    content: "_";
    font-size: 45px;
}

.board_why_programming_start_author {
    margin-top: 65px;
}

.board_why_programming_start_author img {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.board_why_programming_start_author {
    width: 470px;
    height: 470px;
    background-color: #acc0cd;
    border-radius: 50%;
    position: relative;
}*/


/*style dla gwiazdek Parallax*/
.stars {
    display: flex;
}
.stars {
    height: 260px;
    width: 350px; 
}

.stars-1 {
    background-image: url(img/elements/parallax_star1.png);
    position: absolute;
    top: 5%;   
}

.stars-2 {
    background-image: url(img/elements/parallax_star2.png);
    position: absolute;
    top: 1%;      
}

.stars-3 {
    background-image: url(img/elements/parallax_star3.png);
    position: absolute;
    top: 3%;     
}

.stars-4 {
    background-image: url(img/elements/parallax_star4.png);
    position: absolute;
    top: 3%;      
}

.stars-5 {
    background-image: url(img/elements/parallax_star5.png);
    position: absolute;
    top: 2%;     
}

@media (max-width: 1024px) {

    /*style ogóle*/

    a {
        font-size: 25px;
        text-align: center;   
        bottom: 10%;
    }

    /*style dla board_start*/
    .board_start_screen {
        height: auto;    
    }

    .board_start {
        margin-top: 15%;
        margin-bottom: 10%;
        margin-right: 1%;  
        align-items: center;       
    }

    .board_start .about {
        width: 100%;
        padding: 10%;
    }     

     /*style dla board_travel*/
     .board_travel_gallery {        
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;  
     } 

     .board_travel_gallery_photo {
        height: 33.3vw;
        width: 33.3vw;        
    }

    /*style dla board_photography*/
    .logo_rwd{
        display: block;
        text-align: center;
        margin-top: 10%;
        color: #b1b96c;      
    }    

    .board_photography_screen,
    .board_photography {
    flex: 1;
    height: auto;
    }

    .board_photography_left{
        display: none;
    }        
            
    .board_photography_miniature,
    .board_photography_miniature_overlay {      
        width: 100%;
        height: 400px;
        object-fit: cover;   
        margin-bottom: 5%;   
    }  

    .board_photography_screen a {      
        bottom: 3%;        
    }
    
    /*style dla board_writing*/
    .board_writing_texts {
        flex-direction: column;
    }

    .board_writting_rwd{
        flex-direction: column-reverse;
    }

    .board_writting_lead{
        display: none;
    }

    /*style dla planszy kotki*/
    .board_cats {       
        flex-direction: column;        
    }

    .board_cats_right {        
        margin: 0;
    } 
    
    .board_photo_cats {       
        height: 33.3vw;
        width: 33.3vw;        
    }

    .the_entire_screen_cats a {        
        bottom: 1%;
        left: 50%;
    }

    .board_cats_left {
        background-color: #779e91;
        
    }
 
    
}

