
.icon-css:before { content: '\e800'; } /* '' */
.icon-github-circled:before { content: '\e801'; } /* '' */
.icon-gmail:before { content: '\e802'; } /* '' */
.icon-html5-1:before { content: '\f13b'; } /* '' */
.icon-css3:before { content: '\f13c'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-wordpress:before { content: '\f31d'; } /* '' */